<div id="alert1Window" class="alert">
    <h1>Alert!</h1>
    <hr>
    <p>You have selected a large number of block groups.</p>

    <span>Selected block groups:&nbsp;<span id="fCount2"></span></span>

    <p>This may take time to process and slow your return results.</p>

    <div id="warnButton">
        <p>Do you want to proceed?</p>
        <button id="warningYes" class="warningButton" type="button" title="Yes">Yes</button>
        <button id="warningCancel" class="warningButton" type="button" title="Cancel">Cancel</button>
    </div>
</div>
