<div id="cbrWindow">
	<div id="mapHeader">
        <span>Choose a Map:</span>
	</div>
    <div id="thematicTOC"></div>
<!-- Advanced Map Options Area -->
    <div id="organizer">
        <ul id="panelBar1">
            <li>
                <span id="barTitle">Advanced Map Options</span>
                <div id="breaksControl">
                    <p class="info">Data Classes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Classification Type</p>
                    <input id="breaksCount" class="breaksCount" title="Number of data classes on your map" data-role="dropdownlist"/>
                    <input id="classScheme" class="classScheme" title="Class types" data-role="dropdownlist" />

                	<button id="editCustom" class="k-button cb" title="Modify breaks" type="button">Modify</button><br>
                    <p class="info">Click to change maps color scheme.</p>
                    <div id="rampPad" title="Color Ramp"><div id="curColRamp"></div></div>
                </div>
            </li>
            <li>
                <span>Map Frame Options</span>
                <div id="mapFramesOptionsControl">
                    <div class="info">
                        <span>Add/Remove Map Frames</span>
                        <span class="mapFramesButtons">
                            <button id="btnNewMap" title="Add a Map" type="button"> + </button>
                            <button id="btnRemoveMap" title="Remove a Map" type="button" class="hidden"> - </button>
                        </span>
                    </div>
                    <div id="selectMapFrameControl" class="hidden">
                        <p class="info">Select Active Map Frame</p>
                        <div class="mapFrameGridControl">
                            <div id="mapFrameGridRow1" class="mapFrameGridRow top">
                                <div id="mapFrameGridCell1" title="Click to select Map 1" class="mapFrameGridCell left">1</div>
                                <div id="mapFrameGridCell2" title="Click to select Map 2" class="mapFrameGridCell right selected">2</div>
                            </div>
                            <div id="mapFrameGridRow2" class="mapFrameGridRow bottom hidden">
                                <div id="mapFrameGridCell3" title="Click to select Map 3" class="mapFrameGridCell left">3</div>
                                <div id="mapFrameGridCell4" title="Click to select Map 4" class="mapFrameGridCell right">4</div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>