<div class="help">
    <h1>Maps Help</h1>
    <hr>
    <h2>Choose a Map</h2>
    <p>A menu of available thematic demographic maps is provided in the Maps panel.  The maps are organized by topic (e.g., Population, Housing) and sub-categories (e.g., Age, Population by Race).  Note that changing a map will change the text in the viewer's header and the contents of the Legend panel.</p>

    <h2>Advanced Map Options</h2>

    <p><strong>Data classes</strong> - This provides the ability to specify the number of intervals the data is divided up into.  Choosing the number of data classes is an important part of map design. Increasing the number of data classes will result in a more "information rich" map by decreasing the amount of data generalization.  However, too many data classes may be overwhelming, providing to much information and distracting the map reader from seeing general trends in the distribution.  In addition, a large numbers of classes may compromise map legibility as more classes require more colors that become increasingly difficult to tell apart.</p>

    <p><strong>Classification Type</strong> - A means of generalizing the maps by sorting or arranging data into groups or categories on a map.  You can explore the data by applying the different classification techniques.  The classification method you choose depends on the nature of your data, and what you want to show about the data.  When you classify your data, you can either use one of the standard classifications schemes provided or create custom classes based on class ranges you specify.</p>

    <ul>
    	<li><strong>Natural Breaks</strong> - A method of manual data classification that seeks to divide data into classes based on natural groups in the data distribution. Natural breaks occur in the histogram at the low points of valleys. Breaks are assigned in the order of the size of the valleys, with the largest valley being assigned the first natural break.</li>
    	<li><strong>Equal Interval</strong> - A data classification method that divides a set of attribute values into groups that contain an equal range of values.</li>
    	<li><strong>Quantile</strong> - A data classification method that distributes a set of values into groups that contain an equal number of values.</li>
    	<li><strong>Custom</strong> - A method that lets the user choose the appropriate or meaningful classification values.</li>
    </ul>

    <p><strong>Modify Button</strong> - This button brings up a menu that allows the user to modify classification values.</p>

    <p><strong>Color Scheme</strong> - A range of colors used to show ranking or order among classes on a map.</p>

    <p>For more information on color schemes and data classification visit - <a class="link" title="Colorbrewer website link" role="navigation" target="_blank" href="http://www.colorbrewer2.org">www.colorbrewer2.org</a></p>
</div>