<div class="help">
    <h1>Custom Classification Breaks Help</h1>
    <hr>
    <p>When you classify your data, you can either use one of the standard classification schemes provided or create custom classes based on class ranges you specify.  If you want to define your own classes, you can manually add class breaks and set class ranges that are appropriate for your data. Alternatively, you can start with one of the standard classifications and make adjustments as needed.</p>
    <p>Change data classification breaks by selecting a vertical slider bar and adjusting its position.</p>
    <p>You can also click on the slider bars and enter a starting value.</p>
</div>