<div class="help">
    <h1>Selected Features Help</h1>
    <hr>
    <p>The <strong>Selected Features</strong> presents an aggregate view of the selected block groups: there is one record for each summary metric.  The results in this table integrate data from both the Census 2010 and American Community Survey (ACS) 5 year estimates for 2007 - 2011.  Records ending with an '*' have Census 2010 as a data source while records ending in '^' have the ACS estimates as their data source.</p>

    <p>The number of selected features returned by Custom Summary or Advanced Query is displayed at the top of the table.</p>

    <p>Selected features can also be sorted by each column in ascending and descending order by clicking on each column header.</p>

    <p>Hovering over a row will highlight the Census Block Group it represents on the map.</p>

    <p>By clicking on a row you can highlight the individual row.</p>

    <p>The selected features can be exported to an Excel or CVS data file using the <strong>Export Results</strong> selector and button.</p>
</div>