<div class="help">
    <h1>Summary Report Help</h1>
    <hr>
    <p>The <strong>Summary Report</strong> presents an aggregate view of the selected block groups: there is one record for each summary metric.  The results in this table integrate data from both the Census 2010 and American Community Survey (ACS) 5 year estimates for 2007 - 2011.  Records ending with an '*' have Census 2010 as a data source while records ending in '^' have the ACS estimates as their data source.</p>

	<p>By clicking on a row you can highlight the individual row.</p>
	
	<p>Clicking the <strong>Use Comparison</strong> box will bring up a drop down list showing values that can be used to compare with selected data.</p>

	<p>The <strong>Summary Report</strong> can be exported to an Excel or CVS data file using the <strong>Export Results</strong> selector and button.</p>
</div>