<div class="help">
    <h1>Charts Help</h1>
    <hr>
    <p>The <strong>Charts</strong> section presents an alternate perspective of the summary data.  The charts integrate data from both the Census 2010 and American Community Survey (ACS) 5 year estimates for 2007 - 2011.  Chart titles ending with an '*' have Census 2010 as a data source while titles ending in '^' have the ACS estimates as their data source.</p>

    <p>Clicking the <strong>Display Chart Legend</strong> box will bring up the chart legend for the data being displayed.</p>

    <p>Hovering over the chart will bring up a tool tip showing the data value and percentage for each section of the chart.</p>

	<p>The <strong>Charts</strong> can be exported to an PDF data file using the <strong>Export Report to PDF</strong> button.  This export button will export a report that includes all of the listed charts and the summary report to a PDF document.</p>
</div>