<div class="help">
	<h1>Legend Help</h1>
	<hr>
    <p>The legend describes the contents of the current map.  The content of the map is organized into layers that group similar types of geographic features.</p>
    <span>The map contains the following layers:</span>
    <ul>
    	<li>The current demographic map.  This is the default layer.  The description of the current map is displayed at the top followed by the classes contained within the map.  Each class describes the shade on the map used to display a range of values.</li>
        <p>The rest of the layers are located in the drop-down panel labeled <strong>Layer Options</strong>.</p>
        <li>Census tract labels</li>
    	<li>Street map information</li>
        <li>Aerial photo</li>
    	<li>Basemap information such as city boundaries and terrain.</li>

    </ul>
    <p>You can change the display of the map's content in the following ways:</p>
    <ul>
    	<li>Change the visibility of a layer by checking or un-checking the layer's check-box.</li>
    	<li>Change the transparency of the census block group layer by moving the transparency slider.  Moving the slider to the left will increase the layer's transparency which will allow for seeing the contents underneath the layer.</li>
    	<li>To change the current demographic map, choose an item from the maps menu.</li>
    </ul>
</div>