<div id="legendWindowDiv">
	<div id="legend">
		<div id="censusDiv">
			<div id="legendTitle" class="legendTitle"></div>
			<p class="sliderInfo">Transparency Slider</p>
			<div id="sliderDiv" class="legendSliderDiv"><input id="slider" class="balSlider"/></div>
			<div id="legendDiv"></div>
			<div class="legal">Data Source:&nbsp;<span id="dataSource"></span></div>
			<hr>
		</div>
		<!-- Layers Options Area -->
		<div id="organizer2">
        	<ul id="panelBar2">
	            <li>
	                <span id="barTitle">Layers Options</span>
					<div id="tocDiv">
				        <ul id="layersList" class="layersList"></ul>
				    </div>
				</li>
			</ul>
		</div>
		<!-- /Layers Options Area -->
	</div>
</div>
