<div class="help">
            <h1>Markup Tools Help</h1>
            <hr>
            <p>The Markup Tools give a user drawing and markup capabilities with settings for different shapes and colors.</p>
            <p>The following markup shapes are available:</p>

            <ul>
                <li><img src="app/resources/img/i_draw_poly.png" alt="Point of Interest" height="20px" width="20px">   <strong>Polygon</strong> - Click on the map to start drawing a side, single click to change drawing direction, double-click to finish drawing.</li>
                <li><img src="app/resources/img/i_draw_circle.png" alt="Point of Interest" height="20px" width="20px">   <strong>Circle</strong> - Click to add a simple circle, or click, hold, and drag the cursor to create a custom size circle.</li>
                <li><img src="app/resources/img/i_draw_arrow.png" alt="Point of Interest" height="20px" width="20px">   <strong>Arrow</strong> - Click to add a simple arrow pointing East, or click, hold, and drag the cursor to create a custom size arrow pointing in any direction.</li>
                <li><img src="app/resources/img/i_draw_line.png" alt="Point of Interest" height="20px" width="20px">   <strong>Freehand Polygon</strong> - Click, hold, and drag the cursor to create a custom shape.  Release click to finish drawing.</li>
                <li><img src="app/resources/img/i_draw_text.png" alt="Point of Interest" height="20px" width="20px">   <strong>Text Box</strong> - Enter text into <i>Text Input</i> box, select color and fontsize and then click on the map to add textbox.</li>
            </ul>

            <p>The following settings can be set for each shape.  Be sure to change these settings before drawing the shape:</p>

            <ul>
                <li><strong>Fill Color</strong> - Change the color used to fill shape.  For Text, the fill shape determines the text color.</li>
                <li><strong>Transparency Slider</strong> - Changing the transparency slider affects the transparency of the fill color.</li>
                <li><strong>Outline Color</strong> - Change the color used as the outline of shape.  Does not apply to Text.</li>
            </ul>

            <p>The following tools are available to edit existing markups:</p>

            <ul>
                <li><img alt="Edit Markup" src="./app/resources/img/EditMarkup.png"> - <strong>Edit Markup</strong> - Allows you to select a markup on the map.  Selections can be resized and rotated.</li>
                <li><img alt="Delete Markup" src="./app/resources/img/DeleteMarkup.png"> - <strong>Delete Markup</strong> - Deletes the selected markup from the map.  Click this icon first, then select the markup(s) to be deleted.</li>
                <li><img alt="Undo Last Markup" src="./app/resources/img/UndoMarkup.png"> - <strong>Undo Last Markup</strong> - Removes the last drawn markup from map.  Continue clicking to remove markups in the reverse order in which they were drawn.</li>
            </ul>
        </div>