<div class="help">
    <h1>Reports Help</h1>
    <hr>
    <p>The Reports panel allows you to view reports on the demographic and housing characteristics of all communities within Maricopa County and Pinal County, as well as generate reports on a specific area of your choosing.  The source for the reports is Census 2010 and American Community Survey 2008-2012.</p>
    <p>The following reports types are available:</p>

    <ul>
    	<li>Click <strong>County Summary</strong> to view data for all of Maricopa County or Pinal County.</li>
    	<li>Click <strong>City/Town Summary</strong> then select a City or Town and click the Get Report button to see summary data for selected jurisdiction.</li>
    	<li>Click <strong>Custom Summary</strong> to select a customized area.  After clicking, you will be provided with four options to identify areas you wish to report on.  The area boundaries are defined by Census 2010 block group geographies.</li>
        	<ul>
        		<li>If you are interested in a single block group:  click Point of Interest, and then click on the map itself.  The Report Results panel will open showing the data for the block group that intersects the point selected on the map.</li>
        		<li>If you are interested in multiple block groups within a general area:  click Area of Interest, then click and drag on the map to draw a rectangle.  When the mouse button is released, the Report Results panel will open showing data for all block groups that intersect the rectangle drawn on the map</li>
        		<li>If you are interested in block groups within a more precise area:  click Region of Interest, then drawn a polygon on the map by clicking a start point, then clicking at the end of each line segment until the desired polygon is displayed on the map.  As you move the mouse the polygon will be dynamically displayed.  When the desired polygon is displayed, double-click to confirm and end the re-drawing of the polygon.  The Report Results panel will open showing data for all block groups that intersect the polygon.</li>
        		<li>If you are interested in block groups that follow linear features, such as freeways or major roads:  click Corridor of Interest, and then draw a line on the map by clicking at each end of a line segment.  The line may have one or more segments, to allow for changing direction.  Double-click once the last line segment has been drawn.  The Report Results panel will open showing data for all block groups that intersect the corridor.</li>
        		<li>To clear the graphical areas that were selected for the report, click the Clear Selection button. This will not clear the results from the Report Results panel.</li>
        	</ul>
        <li>Click <strong>Advanced Query</strong> to open up a simplified SQL query statement builder.  This will allow you to select individual data values from the subject data.</li>
    </ul>

</div>