<div id="printWindow">

	Map title: <input id="mapTitle" class="mapTitle" type="text" name="map title" value=""/>
	<br><br>
	Map notes:  <textarea id="mapNotes" class="mapNotes" name="mapNotes"></textarea>
	<br><br>
	Map layout: <input id="scottMapLayouts"/>
	<br><br>
	Map format:<input id="mapFormat"/>
	<br><br>
	<button id="executeMapPrint" title="Do the print" type="button">Export Map</button>
    <label style="font-size:10px;" id="printLabel" >*Selected map will be printed</label>

	<div id="mapPrintProgress"></div>
	<!-- <div id="mapPrintResult">Result to go here</div> -->
</div>