  <div class="help">
   	<h1>Print Help</h1>
    <hr>
    <p>This panel allows you to create a PDF file of the current view of the map.  Clicking the Export button takes a snapshot of the current window, incorporating any map type, layers, and zoom level currently selected.  You may change the generated map title and add your own notes.  Choose your choice of map layout using the Map layout drop-down menu.</p>

    <p> After clicking the Export button, the process runs.  When the process is complete a link will appear: "Map export complete, click here to view".  Clicking this link will open the PDF in a new browser tab or window.  From this tab or window you can save the PDF document to a new location.</p>

    <p>There is no requirement to have any Adobe software installed in order to generate the PDF file.</p>

</div>
