<div class="help">
    <h1>Advanced Query Help</h1>
    <hr>
    <p>The Advanced Query builder will allow you to select features by using individual feature criteria from the subject data listed in the drop-down menu.  When you choose the feature attributes you want to use in the query, you can then specify a range of values to use to define the selection set.  You can choose a single field or choose multiple fields and groups.</p>
    <ol>
    	<li>Use the drop-down menu selector to select a subject to query.  The data type selected in the subject changes the values that can be selected for operation.</li>
    	<li>Use the drop-down menu selector to select the Operation type.</li>
    	<li>Enter desired value in into value text box.</li>
    	<li>Additional search parameters or conditions can be added by using the additional conditions drop-down selector menu.  When you specify multiple conditions, it's important to understand the difference between the <strong>And</strong> and <strong>Or</strong> operators.</li>
    		<ol>
    			<li>The <strong>And</strong> operator is restrictive.  It only retrieves data that mets all the conditions you specify.  See #1 below.</li>
    			<li>The <strong>Or</strong> operator is more flexible.  It returns data that meets any of the conditions you specify.  See #2 below.</li>
    		</ol>
            <img src="app/resources/img/AndOrPic.gif" class="queryPic">
            <br>
    	<li>To remove a search parameter or condition just click the red <strong style="color:red">X</strong> at the end of the condition row.</li>
        <li>Use the <strong>Verify Query</strong> button to test your query.  It will return the number of block groups identified by query statement.</li>
        <li>Use the <strong>Run Query</strong> button to run the query once you are satisfied with query statement.</li>
        <li>The <strong>Cancel</strong> button closes out of the Advanced Query window.</li>
    </ol>

    <p>The source for the reports is Census 2010 and American Community Survey 2008-2012.</p>
</div>