<div id="qbWindow2">
    <span id="info"></span>
    <div class="queryContainer">
        <div id="treeViewContainer">
        <div style="text-align:center">
            <h4>Fields</h4>
            <h6>Drag or double click these fields to the query window to add a row to the query.</h6>
        </div>
            <div id="treeView"></div>
        </div>
            <div style="text-align:center">
                <h4>Query</h4>
                <h6>Each row filters the selection of block groups.  Counts and percentages are per block group.</h6>
            </div>
            <div id="target">
                <h4 id="dropPrompt" style="color:black;">Drop here</h4>
            </div>
    </div>
    <button id="runQuery" class="queryButtons" type="button" title="Run Query">Run Query</button>
    <button id="cancelQuery" class="queryButtons" type="button" title="Cancel Query">Cancel</button>
    <div id="fCountSpan" class="queryResultCount k-header resultBanner">Number of selected block groups:&nbsp;<span id="fCount1"></span></div>
</div>