<div class="help">
    <h1>Share Help</h1>
    <hr>
    <p>These links and buttons enable you to easily share the contents of this map with your social media connections and networks.  If you think your friends and contacts in social media will benefit or enjoy this map, then please share it with them.</p>

    <p>Clicking the <strong>Facebook</strong> “Like” or "Share" button will share a link to the MAG Demographic Viewer and comment on your Facebook wall. This will make the content visible to your Facebook friends, encouraging them to have a look at the MAG Demographic Viewer and make their own map.</p>

    <p>Clicking the <strong>Tweet</strong> button will open a window to Twitter that allows you to share and comment on the MAG Demographic Viewer with your Twitter community. Provide your insights in no more than 140 characters and encourage your friends to visit our MAG Demographic Viewer and make their own map.</p>

    <p>Clicking the <strong>LinkedIn</strong> button will enable you to share the MAG Demographic Viewer and comment with your LinkedIn community.  Your message and a link to the MAG Demographic Viewer will appear in your LinkedIn status bar.</p>

    <p>Clicking the <strong>Google+</strong> button will enable you to share the MAG Demographic Viewer and comment with your Google circles.  Your message and a link to the MAG Demographic Viewer will appear in your Google+ status bar.</p>

    <p>Clicking the <strong>envelope</strong> will open up your email service to allow you to send a link to this MAG Demographic Viewer via email.</p>

</div>