<div id="shareWindowDiv">

	<span>Share this Map</span>
	<!-- Facebook -->
	<div id="facebook" class="social">
		<div class="fb-like" data-href="http://geo.azmag.gov/maps/demographic" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		<div id="fb-root"></div>
	</div>

	<!-- Twitter -->
	<div id="twitter" class="social">
		<!--<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://geo.azmag.gov/maps/demographic" data-text="MAG | Demographics" data-via="MAGregion" data-hashtags="MAGmaps">Tweet</a>-->
	</div>

	<!-- Linked-in -->
	<div id="linkedin" class="social">
		<!--<script type="IN/Share" data-url="http://geo.azmag.gov/maps/demographic" data-action="share" data-counter="right"></script>-->
	</div>

	<!-- Google + -->
	<div id="google" class="social">
		<!--<div class="g-plusone" data-size="medium"></div>-->
	</div>

	<!-- email -->
	<div id="email" class="social">
		<!--<a href="mailto:?subject=MAG Demographics Map Viewer&body=%0A%0ACheck out this website.%0A%0AMAG Demographics Map Viewer - #MAGmaps%0Ahttp://geo.azmag.gov/maps/demographic" title="MAG|Demographics"><img id="mailicon" src="app/resources/img/mail-icon.png"></a>-->
	</div>
	
	<div id="link">
	</div>

</div>
