<div id="subscribeWindow">
	<form accept-charset="UTF-8" target="_blank" action="https://public.govdelivery.com/accounts/AZMAG/subscribers/qualify" id="GD-snippet-form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="authenticity_token" type="hidden" value="WsrQu0gh6ZMTZnkd86bYhBJxlfsBIkUjZAAVEsiQh8w=" /></div>
	<input id="topic_id" name="topic_id" type="hidden" value="AZMAG_246" /> 
	<fieldset>
	<legend>
	<h3>Email Updates</h3>
	</legend>
		<div class='subscribe'>
			To sign up for updates, please enter your email below.
		</div>
		<li class='email_fields subscribe' style='display: block'>
			<label for="email"><img alt="Required" class="required" src="https://public.govdelivery.com/assets/required-ef6e0abfe1c903c5ed5cba6ab7c2c38b.gif" />Email Address</label>
			<input class="long" id="email" name="email" type="text" />
		</li>
		<div class='button_panel'>
			<input id="btnSubscribe" class="form_button k-button" name="commit" type="submit" value="Submit" />
		</div>
	</fieldset>
	</form>
</div>